{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Карточка 1 -->
        <div class="col-md-6 mb-4">
            <div class="card border-0 rounded shadow h-100">
                <img src="{{ url_for('static', filename='images/summer_camping.png') }}" class="card-img-top rounded-top" alt="Летний Лагерь" style="object-fit: cover; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Летний Лагерь ☀️</h5>
                    <p class="card-text">Предлагает детям увлекательные занятия и активный отдых, где они могут развивать свои таланты и заводить новые дружбы. Программа лагеря включает спортивные игры, творческие мастерские и познавательные экскурсии, что делает летние каникулы незабываемыми! 😊</p>
                </div>
            </div>
        </div>

        <!-- Карточка 2 -->
        <div class="col-md-6 mb-4">
            <div class="card border-0 rounded shadow h-100">
                <video class="card-img-top rounded-top" controls style="object-fit: cover; height: 200px;">
                    <source src="{{ url_for('static', filename='video/about_school.mp4') }}" type="video/mp4">
                    Ваш браузер не поддерживает видео
                </video>
                <div class="card-body">
                    <h5 class="card-title">Подробнее о школе ❤️</h5>
                    <p class="card-text">Это современное учебное заведение, которое предлагает качественное образование и разнообразные активности для учеников всех возрастов. Школа гордится высококвалифицированным педагогическим составом, современным оборудованием и активным участием в различных конкурсах и олимпиадах, что способствует развитию учащихся.</p>
                </div>
            </div>
        </div>

        <!-- Карточка 4 -->
        <div class="col-md-6 mb-4">
            <div class="card border-0 rounded shadow h-100">
                <img src="{{ url_for('static', filename='images/school.jpg') }}" class="card-img-top rounded-top" alt="О школе" style="object-fit: cover; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">О школе</h5>
                    <p class="card-text">Здесь работают молодые и талантливые учителя, которые используют современные методы обучения, вдохновляя учеников на успех. Школа активно участвует в конкурсах и мероприятиях, что способствует всестороннему развитию детей и формированию их лидерских качеств. 😊</p>
                </div>
            </div>
        </div>

        <!-- Карточка 5 -->
        <div class="col-md-6 mb-4">
            <div class="card border-0 rounded shadow h-100">
                <img src="{{ url_for('static', filename='images/class_hour.jpg') }}" class="card-img-top rounded-top" alt="Классный Час" style="object-fit: cover; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Классный Час</h5>
                    <p class="card-text">Недавно в 7 "А" классе прошел увлекательный классный час, посвященный теме дружбы и взаимопомощи. Ученики активно обсуждали важность поддержки друг друга и делились своими историями о настоящих друзьях. В ходе занятия ребята участвовали в командных играх, что способствовало сплочению коллектива и созданию дружеской атмосферы.</p>
                </div>
            </div>
        </div>
    </div>

    <h1 class="display-4 mt-5 mb-3 text-center" style="font-weight: bold;">Последние Новости</h1>

    <!-- Редактируемые Новости -->
    <div class="row">
        {% for item in news %}
        <div class="col-md-6 mb-4">
            <div class="card border-0 rounded shadow h-100">
                {% if item.image %}
                <img src="{{ url_for('static', filename='uploads/' + item.image) }}" class="card-img-top"
                    alt="{{ item.title }}" style="object-fit: cover; height: 200px;">
                {% else %}
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" class="card-img-top"
                    alt="Placeholder" style="object-fit: cover; height: 200px;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content[:200] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}